/* CONSIGLIATO PER TE. JSX */

#advice {
  background-color: #f8fafd !important;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid gainsboro;
}
#advice-button {
  border: 1px solid gray !important;
  border-radius: 999px;
  color: gray;
}
#advice-button:hover {
  border: 2px solid gray !important;
  background-color: #e5e6e9;
}
#close {
  cursor: pointer;
  min-width: 12px;
}

/* RISORSE.JSX */
#no {
  background-color: rgb(222, 219, 219);
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
}
/* RISORSE E ATTIVITà */
.grigetto {
  color: gray !important;
}

.my-card-footer {
  background-color: white;
  text-align: center;
}
.my-card-footer:hover {
  background-color: rgb(222, 219, 219) !important;
  cursor: pointer;
}

/* ATTIVITà E INFORMAZIONI */
.pencil {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pencil:hover {
  background-color: rgb(222, 219, 219);
}

/* ATTIVIRà */
#followers {
  color: rgb(0, 132, 255);
}

/* ATTIVITà E AGGIUNGI ESPERIENZA */
.post {
  border: 1px solid rgb(0, 132, 255);
  border-radius: 999px;
  color: rgb(0, 132, 255);
}

.post:hover {
  border: 2px solid rgb(0, 132, 255);
  background-color: #e2f0fe;
  color: rgb(0, 132, 255);
  margin: -2px;
}
/* AGGIUNGI ESPERIENZA */

.alert-body {
  background-color: #edf3f8;
}
.personal-link {
  color: rgb(0, 132, 255);
  cursor: pointer;
}
.personal-link:hover {
  text-decoration: underline;
}

.my-form-select:hover {
  border-radius: 8px;
  border: 2px solid gray;
  margin: -1px;
}
.my-form-control:hover {
  border: 2px solid gray;
  margin: -2px;
}
.my-modal-body {
  height: 80vh;
  overflow-y: auto;
}

.fix-hover:hover {
  margin: -1px;
}
.fix-hover-2:hover {
  margin: -2px;
}
.my-text-area:hover {
  border: 2px solid gray;
  margin: -1px;
}
