.color-1 {
   background-color: blue;
}
.color-2 {
   background-color: rgb(219, 219, 219);
}

.profile-cover {
   height: 9em;
   background-color: rgb(179, 179, 179);
}

.profile-pic {
   width: 130px;
   height: 130px;
}
.profile-details {
   min-height: 15em;
}

.profile-loader {
   height: 24em;
}

.fs-7 {
   font-size: 0.8em;
   color: #888888;
}
