.color-1 {
   background-color: blue;
}
.color-2 {
   background-color: rgb(219, 219, 219);
}

.profile-cover {
   height: 9em;
   background-color: rgb(179, 179, 179);
}

.profile-pic {
   width: 130px;
   height: 130px;
}
.profile-details {
   min-height: 15em;
}

.profile-loader {
   height: 24em;
}

.fs-7 {
   font-size: 0.8em;
   color: #888888;
}

.link-small {
   color: #0d6efd;
   cursor: pointer;
}

.link-small:hover {
   text-decoration: underline;
}

#advice-button {
   border: 1px solid gray !important;
   border-radius: 999px;
   color: gray;
}
#advice-button:hover {
   border: 2px solid gray !important;
   background-color: #e5e6e9;
   padding-bottom: 4px;
}
