
#backcolor {
    cursor: pointer;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menucolor {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    
}

.Mydrop:hover{
    background-color: rgb(153, 153, 153);
}


.Mydrop2:hover{
    background-color: rgb(153, 153, 153);
}
