.containerNotFound{
    min-height: 100vh;
    
    background-color: white;
    margin: 0;

}


.logo{

width: 90px ;

margin-left: 3em;

}

.buttLanguage{
    
font-size: 10px !important;
height: 30px;
margin-top: 2em;

}



.container, .container-md, .container-sm{
    width: 100% !important;
}

@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 100%;
}}

@media (min-width: 576px){
.container, .container-sm {
    max-width: 100%;
}}


.ancorNotFound{

    text-decoration: none;
    font-size: 10px;
    color: gray;
    font-weight: 500;
    margin-top: 2em;

}

.logoFooter{

    width: 40px ;
   padding: 0 !important;
   margin-left: 1em;

    }

    .buttTwoNotFound{

        margin-top: 3em;
        display: flex;
        justify-content: center !important;
    }

    .secondWrite{

    }