.colors:hover {
    background-color: transparent;
}

.colors{
    cursor: pointer;
    border: solid 1px rgb(255, 255, 255);
  
  
}

.FormControl{
    border: 1;
  border-color: rgb(216, 210, 210);
    
}
.bottoneDentroForm:hover {
    background-color: white;
}

.bottoneDentroForm{
    
    border: 0;
    cursor: pointer;
}

