.title {
  display: flex;
  justify-content: center;
}

.ancora {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 70%;
}

/* .card-text {
  border-top: solid 1px gray;
} */

/* p:first-of-type {
  font-size: 80%;
  margin-bottom: 3px;
} */

/* p {
  font-size: 90%;
} */

.ancorDue {
  color: rgb(58, 58, 58);
  font-size: 90%;
}
/* 
p:last-of-type {
  margin-top: 10px;
  font-size: 90%;
  color: rgb(58, 58, 58);
} */

.ancoraTre {
  text-decoration: none;
  font-size: 80%;
  font-weight: 600;
}

/* .accordion-item{
   height: 40px;
} */

.accordion-button {
  color: gray;
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.accordion-button,
.accordion,
.accordion-item {
  background-color: rgb(228, 228, 228);
}

@media screen and (min-width: 280px) {
  .imgProfile {
    width: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 38%;
  }

  .title {
    font-size: 130%;
    margin-top: 30px;
  }
}

@media screen and (min-width: 360px) {
  .imgProfile {
    width: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 40%;
  }

  .title {
    font-size: 130%;
    margin-top: 30px;
  }
}
@media screen and (min-width: 480px) {
  .imgProfile {
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70px;
    left: 43%;
  }

  .title {
    font-size: 130%;
    margin-top: 30px;
  }
}

@media screen and (min-width: 600px) {
  .imgProfile {
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70px;
    left: 45%;
  }

  .title {
    font-size: 130%;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .imgProfile {
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 40%;
  }

  .title {
    font-size: 100%;
    margin-top: 10px;
  }

  /* button:last-of-type {
    font-size: 13px;
    font-weight: 500;
  } */
}

@media screen and (min-width: 995px) {
  .imgProfile {
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25px;
    left: 40%;
  }

  .title {
    font-size: 110%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .imgProfile {
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35px;
    left: 40%;
  }
  .title {
    font-size: 130%;
  }
}
