
#close {
    cursor: pointer;
    min-width: 12px
}

#divclose:hover{
    background-color: rgb(222,219,219) ;
}

#divclose{
width: 30px;
height: 30px;
border-radius: 999px;
}

.colors:hover{
    background-color: rgb(214, 213, 213) !important;
}

.colors{
    cursor: pointer;

}