@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* footer qui */

.ancor{
text-decoration: none;
font-size: 13px;
color: gray !important;
font-weight: 500;

}

#nav-dropdown-dark-example{
  color: gray;
  padding-left: 0;
}

/* fine footer */

/* formazione qui */
.iconaFormazione{
  width: 200px !important;
  
}

.butt:hover{
  background-color: rgb(191, 191, 191) !important;
}

/* fine formazione qui */

/* inizio competenze */

.iconaCompetenze{
width: 50px !important;
margin-left: 0;

}

/* fine competenze */